*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial;
background:#f4f4f4;
text-align:center;
padding:30px;

}

h1{
margin-bottom:30px;
}

.slider{

display:flex;
justify-content:center;
align-items:center;
gap:20px;

}

.slider img{

width:700px;
height:450px;
object-fit:cover;
border-radius:10px;
box-shadow:0 0 10px gray;

}

button{

padding:15px;
font-size:25px;
cursor:pointer;
border:none;
background:#333;
color:white;
border-radius:50%;

}

button:hover{

background:green;

}

@media(max-width:768px){

.slider{

flex-direction:column;

}

.slider img{

width:95%;
height:auto;

}

}